.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $theme-color-secondary;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.109);
    z-index: 100;
}


body {
    font-family: $font-sanscaption-regular;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.detox-buttons--green {
    padding: 10px 40px;
    background-color: $theme-color-primary;
    color: $theme-color-secondary;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.detox-buttons--green:hover {
    opacity: 0.8;
}